In [22]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.externals import joblib
import pickle

In [5]:
df=pd.read_csv('carrates.csv')
df

    Year  Mileage  Price
0   2002       23  40000
1   2010       25  60000
2   2003       20  35000
3   2005       19  37000
4   2001       15  28000
5   2015       25  75000
6   2007       23  50000
7   2007       20  45000
8   2010       20  52000
9   2002       18  30000
10  2003       13  28000
11  2018       18  75000
12  2012       18  50000
13  2017       21  77000

In [8]:
reg=LinearRegression()
reg.fit(df[['Year','Mileage']],df.Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
reg.predict([[2019,20]])

array([77625.10154346])

In [19]:
reg.coef_

array([2611.45888087, 1293.37697711])

In [20]:
reg.intercept_

-5220777.91847852

In [25]:
joblib.dump(reg,"Predictor")

['Predictor']

In [31]:
with open('Predictor1','wb') as file:
    pickle.dump(reg,file)