# multivariable linear

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [15]:
df=pd.read_csv(r"Book21.csv")
df

   area  rooms  year    price
0  1230    3.0    30   456758
1  1786    4.0    20   677580
2  2345    NaN    10   690768
3  3456    8.0    15   789065
4  5346    9.0     7  1026345
5  7865    6.0    43   786379

In [16]:
rm=df.rooms.median()

In [17]:
df['rooms']=df.rooms.fillna(rm)

In [18]:
df

   area  rooms  year    price
0  1230    3.0    30   456758
1  1786    4.0    20   677580
2  2345    6.0    10   690768
3  3456    8.0    15   789065
4  5346    9.0     7  1026345
5  7865    6.0    43   786379

In [20]:
reg=LinearRegression()

In [21]:
reg.fit(df[['area','rooms','year']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
reg.predict([[4500,4,5]])

array([979307.57257237])

In [23]:
reg.coef_

array([    72.57093731,  -3102.53604428, -11062.07686969])

In [24]:
reg.intercept_

720458.883224171

In [25]:
#y=m1x1+m2x2+m3x3 +c

72.57093731*4500+(-3102.53604428)*4+(-11062.07686969)*5 +720458.883224171

979307.572593601