In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [2]:
df=pd.read_csv('Book1.csv')
df

,CarName,fueltype,aspiration,doornumber,carbody,price
0,alfa romero giulia,gas,std,two,convertible,13495.0
1,alfa romero stelvio,gas,std,two,convertible,16500.0
2,alfa romero Quadrifoglio,gas,std,two,hatchback,16500.0
3,audi 100 ls,gas,std,four,sedan,13950.0
4,audi 100ls,gas,std,four,sedan,17450.0
...,...,...,...,...,...,...
69,buick century,diesel,turbo,two,hardtop,28176.0
70,buick skyhawk,diesel,turbo,four,sedan,31600.0
71,buick opel isuzu deluxe,gas,std,four,sedan,34184.0
72,buick skylark,gas,std,two,convertible,35056.0
73,buick century special,gas,std,four,sedan,40960.0

In [3]:
x=df.columns
print(x)

Index(['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody', 'price'], dtype='object')

In [4]:
cn=LabelEncoder()
ft=LabelEncoder()
ap=LabelEncoder()
dn=LabelEncoder()
cb=LabelEncoder()

In [5]:
df['NAME']=cn.fit_transform(df['CarName'])
df['FUELtype']=ft.fit_transform(df['fueltype'])
df['ASP']=ap.fit_transform(df['aspiration'])
df['DOOR']=dn.fit_transform(df['doornumber'])
df['BODY']=cb.fit_transform(df['carbody'])

In [6]:
df

,CarName,fueltype,aspiration,doornumber,carbody,price,NAME,FUELtype,ASP,DOOR,BODY
0,alfa romero giulia,gas,std,two,convertible,13495.0,1,1,0,1,0
1,alfa romero stelvio,gas,std,two,convertible,16500.0,2,1,0,1,0
2,alfa romero Quadrifoglio,gas,std,two,hatchback,16500.0,0,1,0,1,2
3,audi 100 ls,gas,std,four,sedan,13950.0,3,1,0,0,3
4,audi 100ls,gas,std,four,sedan,17450.0,4,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...
69,buick century,diesel,turbo,two,hardtop,28176.0,15,0,1,1,1
70,buick skyhawk,diesel,turbo,four,sedan,31600.0,20,0,1,0,3
71,buick opel isuzu deluxe,gas,std,four,sedan,34184.0,19,1,0,0,3
72,buick skylark,gas,std,two,convertible,35056.0,21,1,0,1,0
73,buick century special,gas,std,four,sedan,40960.0,17,1,0,0,3

In [7]:
indep=df.drop(x,axis="columns")
indep

    NAME  FUELtype  ASP  DOOR  BODY
0      1         1    0     1     0
1      2         1    0     1     0
2      0         1    0     1     2
3      3         1    0     0     3
4      4         1    0     0     3
..   ...       ...  ...   ...   ...
69    15         0    1     1     1
70    20         0    1     0     3
71    19         1    0     0     3
72    21         1    0     1     0
73    17         1    0     0     3

[74 rows x 5 columns]

In [8]:
dep=df['price']
dep

0     13495.0
1     16500.0
2     16500.0
3     13950.0
4     17450.0
       ...
69    28176.0
70    31600.0
71    34184.0
72    35056.0
73    40960.0
Name: price, Length: 74, dtype: float64

In [9]:
dep.max()

41315.0

In [10]:
dep.min()

5151.0

In [11]:
dep.mean()

15136.502256756756

In [12]:
for i in range(0,74):
    if(dep[i]>20000.00):
        dep[i]=int(1)
    else:
        dep[i]=int(0)

c:\users\sys\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\sys\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
model=DecisionTreeClassifier()

In [14]:
xtr,xts,ytr,yts=train_test_split(indep,dep,train_size=0.75)

In [15]:
xtr.columns

Index(['NAME', 'FUELtype', 'ASP', 'DOOR', 'BODY'], dtype='object')

In [16]:
ytr

7     0.0
48    1.0
3     0.0
25    0.0
56    0.0
13    1.0
34    0.0
38    0.0
28    0.0
30    0.0
71    1.0
12    1.0
41    0.0
51    0.0
62    0.0
20    0.0
9     0.0
19    0.0
31    0.0
5     0.0
57    0.0
44    0.0
16    1.0
39    0.0
35    0.0
21    0.0
53    0.0
14    1.0
11    0.0
47    1.0
66    0.0
64    0.0
27    0.0
54    0.0
72    1.0
23    0.0
36    0.0
73    1.0
8     1.0
40    0.0
0     0.0
45    0.0
46    0.0
29    0.0
63    0.0
65    0.0
68    1.0
6     0.0
10    0.0
22    0.0
43    0.0
69    1.0
61    0.0
37    0.0
4     0.0
Name: price, dtype: float64

In [17]:
model.fit(xtr,ytr)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [19]:
model.score(xts,yts)

0.9473684210526315

In [20]:
model.predict(xts)

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0.,
       1., 1.])

In [21]:
yts

59    0.0
26    0.0
24    0.0
60    0.0
15    1.0
58    0.0
42    0.0
2     0.0
52    0.0
49    1.0
55    0.0
33    0.0
67    1.0
1     0.0
70    1.0
32    0.0
50    0.0
17    1.0
18    0.0
Name: price, dtype: float64