In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('salary.csv')
df

   Aptitude   GD  Experience  Salary
0       8.9  8.0           3   50000
1       7.7  9.0           2   47000
2       9.4  9.0           8   80000
3       7.3  8.0          10   60000
4       6.3  7.5           1   30000
5       9.0  8.7           1   35000
6       8.7  6.9           5   52000

In [3]:
reg=LinearRegression()

In [5]:
reg.fit(df[['Aptitude','GD','Experience']],df.Salary)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
reg.predict([[8,5,5]])

array([39140.33024372])

In [8]:
reg.coef_

array([4768.38361724, 4165.33904062, 3647.04064121])

In [9]:
reg.intercept_

-38068.63710332897

In [10]:
print(reg.predict([[8,7,15]]))
print(reg.predict([[9,8.4,2]]))
print(reg.predict([[7.9,8.2,5]]))

[83941.41473704]
[47129.74467542]
[51992.57681196]